# General
*.DS_Store
.DS_Store
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Builds
build/
dist/

